<h1> Contatos</h1>
<table>
    <thead>
        <tr>
            <th>
                Nome
            </th>  
            <th>
                Email
            </th>   
        </tr>
    </thead>    
    <tbody>
        <% @contatos.each do |c| %>
            <tr>
                <td>
                    <%= c.nome %>
                </td>
                 <td>
                    <%= c.email %>
                </td>
            </tr>
    </tbody>
</table>
